<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

    </div>
    <div id="bg">

    </div>
    <div class="overlay"></div>
    @*<div class="backgraound-pattern overlay-bg"></div>*@
    <div class="navbar navbar-inverse main-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar hamburger"></span>
                    <span class="icon-bar hamburger"></span>
                    <span class="icon-bar hamburger"></span>
                </button>
                @Html.ActionLink("Econom", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "Public" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "Public" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "Public" }, null)</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home Storage", "Index", "HomeStorage", new { area = "Private" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="content-wrapper">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
