
@{
    ViewBag.Title = "_HomeStoragePanelLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/homestorage")
<h2></h2>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_HomeStorageNavigation")
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/bundles/private")