@using Econom.Web.Areas.Public.ViewModels.Products
@using Kendo.Mvc.UI
@model ProductBaseViewModel

<div class="row product-wrapper">

    <div class="col-md-4 img-wrapper-circle">

        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            @(Html.Image(Url.Action("GetImage", "Images", new { url = Model.ImageUrl }),
                   Model.Description,
                   new { @class = "img-found-product" }))
        }
        else {
            @(Html.Kendo()
            .Barcode()
            .Name(Model.Id.ToString())
            .Value(Model.Barcode)
            .Encoding(BarcodeSymbology.Code128)
            .Width(280)
            .Height(200)
            .HtmlAttributes(new { @class = "barcode" })
            .Background("rgba(0,0,0,0.0)"))
        }
    </div>
    <div class="col-md-8">
        <h1 class="product-description">@Model.Description</h1>
        @*@Ajax.ActionLink("Add to fridge", "AddProduct", "StorageProducts", new { Area = "Private", id = Model.Id }, new { @class = "k-button pull-right" })*@
        @Ajax.ActionLink("Add to fridge", "AddProduct", "StorageProducts",
                 new { area = "Private", id = Model.Id },
                 new AjaxOptions
                 {
                     InsertionMode = InsertionMode.InsertBefore,
                     UpdateTargetId = "found-products-list",
                     OnSuccess = "notify"
                 })
    </div>
    <div id="target">

    </div>
    @(Html.Kendo().Notification()
    .Name("notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Stacking(NotificationStackingSettings.Down)
    .AutoHideAfter(0)
    .Templates(t =>
    {
        t.Add().Type("upload-success").ClientTemplateID("successTemplate");
    })
    )
</div>
<script id="successTemplate" type="text/x-kendo-template">
    <div class="upload-success">
        <img src="../../../content/web/notification/success-icon.png" />
        <h3>#= message #</h3>
    </div>
</script>
<script>
    $(document).ready(function () {
        var notification = $("#notification").data("kendoNotification");

        function notify(e) {
            console.log(e);
            notification.show({
                message: "Upload Successful"
            }, "upload-success");
        };
    });
</script>